
.about {
  padding: 20px;
  width: 100%;
  min-height: 100vh;
  color: white;
  h1{
    text-align: center;
    font-size: 30px;
    font-family: 'Pokemon Solid', sans-serif;
  }
  .technologies{
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid white;
    h2{
      text-align: center;
      margin-top: 20px;
      text-transform: uppercase;
    }
    ul{
      padding: 10px;
      list-style: decimal;
    }

  }

.carousel{
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  height: auto;
  font-size: 10px;
  .slideimg{
      width: 100%;
      height: 100%;
  }
  .thumb{
      font-size: 10px;
      padding: 2px;
  }
}
  
}