.asider{
    width: 30%;
    height: 100%;
    margin: 10px 10px 10px 0;
    padding: 10px;
    border: 2px solid white;
    color: white;
    border-radius: 15px;
    text-align: center;
    transition: all ease-out 0.8s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .cardlogo{
        width: 100%;

    }

}

.carousel{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: auto;
    font-size: 10px;
    .slideimg{
        width: 100%;
        height: 100%;
    }
    .thumb{
        font-size: 10px;
        padding: 2px;
    }
}
.news{
    border: 1px solid white;
    border-radius: 5px;
    padding: 15px 5px;
    width: 100%;
    .newsinput{
        border-radius: 5px;
        padding: 10px;
        margin: 5px;
        color: black;
        width: 80%;
    }
    .newsbtn{
        color: black;
        text-align: center;
        padding: 5px;
    }
}
.powertitle{
    margin-top: 50px;
}
.powers{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.asider:hover{
    transition: all ease-in-out 0.8s;
    border-color: yellow ;
}

@media screen and (max-width:'428px') {
    .asider{
      width: 100%;
    }
    
}

@media screen and (max-width:'412px') {
    .asider{
      width: 100%;
    }
    
}


@media screen and (max-width:'375px') {
    .asider{
      width: 100%;
    }
}


@media screen and (max-width:'360px') {
    .asider{
      width: 100%;
    }
}