.asider{
    margin: 10px 10px 10px 0;
    padding: 10px;
    border: 2px solid white;
    border-radius: 15px;
    width: 30vw;
    text-align: center;
    transition: all ease-out 0.8s;
    .cardlogo{
        width: 100%;

    }

}
.asider:hover{
    transition: all ease-in-out 0.8s;
    border-color: yellow ;
}
@media screen and (max-width:'428px') {
    .asider{
      width: 100%;
    }
    
  }