footer{
    height: 100%;
    background: black;
    padding: 10px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    .social {
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        li{
            font-size: 30px;
            color: white;
            list-style: none;
            margin: 0;
            text-align: right;

        }
    }
}

@media (max-width: 600px) {
    footer {
        width: 100%;
        flex-direction: column-reverse;
        .social{
            width: 100%;
        }
    }
  }
  