.container {

}

.pagination {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.grid {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
}

.card {
  margin: 10px;
  padding: 5px;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2{
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 25px;
    color: white;
  }
  .pokeImg{
    border: 2px solid black;
    margin-left: 5%;
  }
  
  .price{
    color: red;
    font-size: 20px;
    text-decoration: line-through;
  }
  .priceDisc{
    color: greenyellow;
    font-size: 23px;
  }
  .buyBtn{
    width: 90%;
  }
  .buyBtn:hover{
    border-color: yellow;
  }
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}



@media (max-width: 428px) {
  .grid {
    flex-direction: column;
    .card{
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}
