
.sitecenter{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  background-color: rgb(41, 41, 41);

}


.mainsite {
  height: 100%;

  padding-top: 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width:'428px') {
  .sitecenter{
    flex-direction: column;
    .mainsite{
      width: 100%;
    }
  }
}
@media screen and (max-width:'412px') {
  .sitecenter{
    flex-direction: column;
    .mainsite{
      width: 100%;
    }
  }
}
@media screen and (max-width:'375px') {
  .sitecenter{
    flex-direction: column;
  }
  
}
@media screen and (max-width:'360px') {
  .sitecenter{
    flex-direction: column;
  }
  
}
@media screen and (max-width:'340px') {
  .sitecenter{
    flex-direction: column;
  }
  
}