
.sitecenter{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(41, 41, 41);

}

.mainsite {
  min-height: 100vh;
  padding-top: 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width:'428px') {
  .site-center{
    flex-direction: column;
  }
  
}